@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.app-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 20, 37);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 30vw;
  height: 60vh;
  margin-top: 10vh;
}

.title-bar {
  flex: 1;
  background-color: rgb(21, 20, 37);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  color: rgb(231, 231, 231);
  font-size: 3em;
  font-family: 'Press Start 2P', cursive;
}

.start-button {
  flex: 1;
  background-color: rgb(196, 101, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(253, 244, 159);
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}

.space-button {
  flex: 1;
  background-color: rgb(94, 92, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(116, 246, 255);
  font-size: 1.5em;
  font-family: 'Press Start 2P', cursive;
}

.arrow-container {
  flex: 5;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(51, 51, 51);
}
